$break-small: 515px;

.add-name {
  text-align: left;
  width: 50%;
  margin-left: 25%;
}

.border-top {
  border-top: solid 1px black;
}

.inline {
  display: inline-block;
  top: 0;
}

input, button {
  border: 1px solid grey;
}

@media screen and (max-width: $break-small) {
  .add-name {
    width: 75%;
    margin-left: 12.5%;
  }

  h2 {
    font-size: 18px;
  }
}