@import url('https://fonts.googleapis.com/css?family=Montserrat');
$default-serif: 'Montserrat', serif;
$break-small: 515px;
$break-medium: 800px;

@import 'containers/app/index';
@import 'containers/addName/index';
@import 'containers/tiles/index';
@import 'components/hallOfFame/index';

body {
  font-family: $default-serif;

  a {
    text-decoration: none;
    &:visited {
      color: black;
    }
  }

  a:hover {
    color: grey;
  }

  button {
    cursor: pointer;
  }

  .container {
    margin: 0;
    text-align: center;

    @media screen and (max-width: $break-medium) {
      margin: 0 20px;
    }
    @media screen and (max-width: $break-small) {
      margin: 0;
    }
  }
}